<link rel="stylesheet" href="/css/home.css" />
<center>
    <h2 id="quote" >A bargain is something you can’t use at a price you can’t resist!</h2>

</center>
<div id="top">
    <input type="text"  placeholder="What are you looking to shop for..." id="search">
<img src="/assets/location.png"  alt="lala" class="element" id="locate">
</div>

{{!-- <button type="button" class="element" id="location"></button> --}}
