<html>
  <link rel="stylesheet" href="/css/home.css" />

<head>

  <link rel="stylesheet" href="/css/home.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> --}}

</head>

<body>
  <center>
    <h2 id="quote">A bargain is something you can’t use at a price you can’t resist!</h2>

    {{!--
  </center>
  <div id="top">
    <input type="text" placeholder="What are you looking to shop for..." id="search" required><br><br>
    <input type="text" name="location" placeholder="Enter location or enable location access" id="location" required>
    <img src="/assets/location.png" alt="lala" class="element" id="clickme">
  </div>
  <center> --}}
    <center>
      <!-- Shopname: <br> -->
      <input type="text" name="itemName" placeholder="Enter your shop's name" style="width: 50%" required id="itemName"><br>
      <!-- Location: <br> -->
      <div style="height: 60px;">
        <input type="text" name="location" placeholder="Enter location or enable location access" style="width: 50%"
          required>
      </center>    
        <img src="/assets/location.png" alt="getlocation" style="height:45px; width:45px; margin-left: 900px; margin-top:-50px;" id="clickme">
      </div>
      
      <center>
        <br>
      <input type="submit" value="Submit" id="submit"><br>
    </center>
    <center>
    <div style="width:1500px; margin-top: 80px;">
      <div class="card">
        <div class="container">
          <h4 style="color: black">Name of the Shop</h4>
          <p>Distance from Consumer's location</p>
        </div>
        <br>


      </div>
      <div class="card">
        <div class="container">
          <h4 style="color: black;">Name of the Shop</h4>
          <p>Distance from Consumer's location</p>
        </div>
      </div>
    </div>
  </center>
  <script src="/js/consumer-search.js"></script>
</body>

</html>
