<!DOCTYPE HTML>
<html>
<head>
    <title>Welcome, Shopkeeper!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/dash.css" />
</head>
<style>
    .add{
        font-size:15px;
        border-radius:50%;
    }
</style>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>Hi, my name is {{user.username}}</h1>
                </header>
                <div class="content">
                    <p>{{user.username}},Santa Claus of {{user.shopName}} is providing following items:</p>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section id="contact">
            <div class="inner">
                <section>
                    <div class="table">
                        <table id="tab">
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                            </tr>
                            {{!-- <tr>
                                <td id="0item"><input type="text" id="0inputitem"></td>
                                <td id="0num"><input type="text" id="0inputnum"></td>
                            </tr> --}}
                        </table>
                    <button class="btn add" type="button" id="submit">+</button>
                    </div>
                </section>
                <section class="split">
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-home"></span>
                            <h3>Address</h3>
                            <span>{{user.locationString}}</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-phone"></span>
                            <h3>Phone</h3>
                            <span><input type="text"></span>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="copyright">
                    <li>&copy; Shopedia</li>
                </ul>
            </div>
        </footer>

    </div>
</body>
<script src="/js/add-item.js"></script>
</html>