<!DOCTYPE HTML>
<html>
<head>
    <title>Welcome, Shopkeeper!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/dash.css" />
</head>

<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>Hi, my name is Forty</h1>
                </header>
                <div class="content">
                    <p>Some Slogan for the shop</p>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section id="contact">
            <div class="inner">
                <section>
                    <div class="table">
                        <table>
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                            </tr>
                            <tr>
                                <td>Computer Graphics by Utkarsh Singh</td>
                                <td>5</td>
                            </tr>
                            <tr>
                                <td>Broomstick for Abhishek</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Sprite by Deepesh</td>
                                <td>1000</td>
                            </tr>
                        </table>
                    </div>
                </section>
                <section class="split">
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-envelope"></span>
                            <h3>Email</h3>
                            <a href="#">information@untitled.tld</a>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-phone"></span>
                            <h3>Phone</h3>
                            <span>(0175) 2506 3490</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-home"></span>
                            <h3>Address</h3>
                            <span>1234 Somewhere Road #5432<br />
                                Nashville, TN 00000<br />
                                United States of America</span>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
                    <li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Untitled</li>
                    <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/dashutil.js"></script>
    <script src="assets/js/dash.js"></script>

</body>

</html>