<!DOCTYPE HTML>
<html>
<head>
    <title>Welcome, Shopkeeper!</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/dash.css" />
</head>
<style>
    .add{
        font-size:15px;
        border-radius:50%;
    }
</style>
<script>
    function add() {

        var table = document.getElementById("tab");
        var row=table.insertRow(2);
var cell1=row.insertCell(0);
var cell2 = row.insertCell(1);
var input1=document.createElement("input");
input1.setAttribute("type","text");
var input2=document.createElement("input");
input2.setAttribute("type","text");
cell1.appendChild(input1);
cell2.appendChild(input2);

        }
</script>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1>Hi, my name is {{user.username}}</h1>
                </header>
                <div class="content">
                    <p>{{user.username}},Santa Claus of {{user.shopName}} is providing following items:</p>
                </div>
            </div>
        </section>

        <!-- Contact -->
        <section id="contact">
            <div class="inner">
                <section>
                    <div class="table">
                        <table id="tab">
                            <tr>
                                <th>Item</th>
                                <th>Quantity</th>
                            </tr>
                            <tr>
                                <td>Sample Data</td>
                                <td>SAmple quantity</td>
                            </tr>
                            <tr>
                                <td><input type="text" ></td>
                                <td><input type="text"></td>
                            </tr>
                        </table>
                    <button class="btn add" type="button" onclick="add()">+</button>
                    </div>
                </section>
                <section class="split">
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-home"></span>
                            <h3>Address</h3>
                            <span>{{user.address}}</span>
                        </div>
                    </section>
                    <section>
                        <div class="contact-method">
                            <span class="icon alt fa-phone"></span>
                            <h3>Phone</h3>
                            <span><input type="text"></span>
                        </div>
                    </section>
                </section>
            </div>
        </section>

        <!-- Footer -->
       
    </div>
</body>

</html>