<html>
	<head>
		<title>Enter Shop Info</title>
		<link rel="stylesheet" href="/css/home.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
	<body>	
		<h1 align="center"  style="font:sans-serif; margin-top: 150px;padding-bottom:60px"><b>Enter your shop details</h1>
		<form>

			<center>
			<!-- Shopname: <br> -->
			<input type="text" name="shopName" placeholder="Enter your shop's name" style="width: 50%" required id="shopName"><br>
			<!-- Location: <br> -->
			<div style="height: 60px;">
					<input type="text" name="location" placeholder="Enter location or enable location access" style="width: 50%" required>
					<img src="/assets/location.png" alt="getlocation" style="height:45px; width:45px" id="clickme">
			</div>
			<br>
			<input type="submit" value="Submit" id="submit"><br>
			</b>
		</center>
		</form>
		<script src="/js/location-post.js"></script>
	</body>
</html>
