<html>
		<link rel="stylesheet" href="/css/home.css" />
<body>	
<h1 align="center"  style="font:sans-serif; margin-top: 150px;padding-bottom:60px"><b>Enter your shop details</h1>
<form action="/profile/postshop">
	<center>
	<!-- Shopname: <br> -->
	<input type="text" name="shopname" placeholder="Enter your shop's name" style="width: 50%"><br>
	<!-- Location: <br> -->
	<div style="height: 60px;">
			<input type="text" name="location" placeholder="Enter location or enable location access" style="width: 50%">
			<img src="/assets/baseline_gps_fixed_black_48dp.png" alt="getlocation">

	</div>
	<input type="submit" name="submit" value="Submit"><br>
	</b>
</center>
</form>
</body>
</html>
